<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="spring.testPetClinic.Utility.ListenerClass"></listener>
	</listeners>
	<test thread-count="5" name="Testng">
		<classes>
			<class name="spring.testPetClinic.testCases.HomePageTest" />
			<class name="spring.testPetClinic.testCases.FindOwnersTest" />
			<class name="spring.testPetClinic.testCases.AddOwnerTest" />
			<class name="spring.testPetClinic.testCases.AddNewPetTest" />
			<class name="spring.testPetClinic.testCases.AddNewPetVisitTest" />


		</classes>
	</test> <!--
	Testng -->
</suite> <!--
Suite -->
